.signup-page {
    .ht-twitter {
        background-image: url("../img/twitter.png");
    }

    .ht-facebook {
        background-image: url("../img/facebook.png");
    }
}

.signup-page h1 {
    padding-top: 4%;
    margin-left: 5%;
}