@media (min-width: 1041px) and (max-width: 1440px) {
	.main-signup-form, .main-launch-block {
		width: 60%;
		margin: 0 20%;
	}

	.benefits-list p {
		margin: 3% 0 0 0;
	}

	.how-it-works {
		#find-concerts-pic {
			//width: 45%;
		}
		#reserve-tickets-pic {
			left: 5em;
		}
		#cheap-tickets-pic {

		}
	}

}