<div class="about-page">

	<h1>About Hipster Tron</h1>

	<h3>Hipster Tron was made by this dude:</h3>

	<figure class="about-founder-figure">
		<img src="../img/founder.jpg" alt="The Man behind Hipster Tron" />
	</figure>

	<section class="about-right-block">

		<p>That guy on the cardinal made this website and currently maintains it. He's the only guy behind Hipster Tron.</p>

		<p>Hipster tron is his labor of love, er, well. Actually, he missed a show he really wanted to see, got real mad about it, and then built this site. So I guess it's a labor of annoyance.</p>

		<p>Anyway, even if no one else used Hipster Tron he'd be pretty happy to have it. He really likes live music, but sometimes forgets to check upcoming shows. If you live in Denver and like love music too, enjoy this free service.</p>

	</section>

</div>