<div class="home-page">
  <header class="main-block home-header">
    <h1>He's heard of that show before you</h1>
    <p id="main-explanation"><span>Hipster Tron</span> helps you get awesome tickets to concerts you care about, 100% Free.</p>
    <!-- <p id="main-explanation">Hipstertron makes getting great concert tickets easy.</p> -->
  </header>

  <section class="how-it-works main-block">
        <h2>How It Works</h2>
        <ul>
          <li class="main-step">
            <h3>Personalized Match</h3>
            <p>Hipstertron scans your music collection to find out if any bands you like are coming to town.</p>
            <p>Learn more about how <a href="info/find-tickets">Hipstertron keeps you in the know</a></p>
            <img id="find-concerts-pic" src="img/ht_find_concerts.png" />
          </li>
          <li class="main-step">
            <h3>Never Miss Out</h3>
            <p>Hipstertron allows you to reserve amazing tickets for bands you love, for free.</p>
            <p>Learn about how <a href="info/reserve-tickets">you can get primo tickets with Hipstertron</a></p>
            <img id="reserve-tickets-pic" src="img/ht_reserve_tickets.png" />
          </li>
          <li class="main-step">
            <h3>Get Deals</h3>
            <p>Hipstertron notifies you about cheap tickets for concerts you care about.</p>
            <p>Learn more about how <a href="info/cheap-tickets">Hipstertron can get you cheap tickets</a></p>
            <img id="cheap-tickets-pic" src="img/ht_cheap_tickets.png" />
          </li>
        </ul>
  </section>

  <section class="main-block signup-block">
    <form class="main-signup-form">
        <span ng-hide="signedUp">
          <p ng-hide="emailError">Hipster Tron is exclusively available for the Denver / Boulder area.</p>
          <span ng-hide="!emailError">
            <h3>Oops!</h3>
            <p>How embarassing, Hipstertron encountered an error. Maybe your email is alreadly taken, or maybe you can just refresh the page.</p>
          </span>
            <input type="email" class="main-email" ng-model="userEmail.email" placeholder="Sign Up for Launch" />
            <button class="main-submit" type="submit" ng-click="signUserUp(userEmail)">Sign Up</button>
            <p class="warning" ng-show="emailPlease">Please enter your email</p>
            <div class="main-frequency-selector">
                <label id="frequency-explain">How often do you want to receive emails?</label>
                <label>Daily</label>
                <input type="radio" name="frequency" ng-model="userEmail.frequency" value="daily" />
                <label>Bi-weekly</label>
                <input type="radio" name="frequency" ng-model="userEmail.frequency" value="biweekly" />
                <label>Weekly</label>
                <input type="radio" name="frequency" ng-model="userEmail.frequency" ng-checked="true" value="weekly" />
            </div>
        </span>
        <span ng-hide="!signedUp">
          <h3>Thanks! You'll get an email from Hipster Tron when it's ready to launch!</h3>
          <p>If you'd also be willing to give us some sharing love HipsterTron would consider you his BFF:</p>
              <a class="social-button ht-twitter" href="https://twitter.com/intent/tweet?hashtags=HipsterTron&original_referer=http%3A%2F%2Flocalhost%3A9000%2F&text=He%27s%20heard%20of%20that%20show%20before%20you.&tw_p=tweetbutton&url=http%3A%2F%2Fwww.hipstertron.com" title="Twitter">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</a>
              <a class="social-button ht-facebook" href="https://www.facebook.com/pages/HipsterTron/305572222963336" title="Facebook">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</a>
        </span>

    </form>
    <div class="main-launch-block">
      <h3 ng-hide="signedUp">Sign Up For Launch</h3>
      <p>Hipster Tron will launch soon. In the meantime, you can search Hipstertron's <a href="#/calendar">Calendar</a> for all upcoming shows in Denver.</p>
    </div>
  </section>

  <section class="benefits-list main-block">
    <ul>
      <li>
        <h3>100% Free &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</h3>
        <figure class="main-image-container">
          <img src="img/ht_free.png" id="ht-free" />
        </figure>
        <p id="second-benefits-paragraph">Hipstertron doesn't even have ads.</p>
      </li>
      <li>
        <h3>Get the Best Tickets</h3>
        <figure class="main-image-container">
          <img src="img/ht_tickets.png" />
        </figure>
        <p>Whether you want hard-to-get tickets or cheap, last minute deals, Hipstertron can help you out.</p>
      </li>
      <li>
        <h3 id="never-miss-header">Never Miss A Show</h3>
        <figure class="main-image-container right-side-image">
          <img id="ht-never-miss" src="img/ht-never-miss.png" />
        </figure>
        <p id="first-benefits-paragraph">You can learn about concerts important to you as soon as they're announced.</p>
      </li>
      <li>
        <h3>Hassle Free</h3>
        <figure class="main-image-container right-side-image">
          <img src="img/ht_time.png" />
        </figure>
        <p>Getting decent concert tickets can be a pain. Let Hipstertron take care of it for you.</p>
      </li>
    </ul>
  </section>

</div>