<div class="signup-page">
	<h1>Sign Up</h1>

<section class="main-block signup-block">
    <form class="main-signup-form">
        <span ng-hide="signedUp">
          <p>Hipster Tron is exclusively available for the Denver / Boulder area.</p>
            <input type="email" class="main-email" ng-model="userEmail.email" placeholder="Sign Up for Launch" />
            <button class="main-submit" type="submit" ng-click="signUserUp(userEmail)">Sign Up</button>
            <p class="warning" ng-show="emailPlease">Please enter your email</p>
            <div class="main-frequency-selector">
                <label id="frequency-explain">How often do you want to receive emails?</label>
                <label>Daily</label>
                <input type="radio" name="frequency" ng-model="userEmail.frequency" value="daily" />
                <label>Bi-weekly</label>
                <input type="radio" name="frequency" ng-model="userEmail.frequency" value="biweekly" />
                <label>Weekly</label>
                <input type="radio" name="frequency" ng-model="userEmail.frequency" ng-checked="true" value="weekly" />
            </div>
        </span>
        <span ng-hide="!signedUp">
          <h3>Thanks! You'll get an email from Hipster Tron when it's ready to launch!</h3>
          <p>If you'd also be willing to give us some sharing love HipsterTron would consider you his BFF: 
          <div class="fb-share-button" data-href="http://www.hipstertron.com" data-layout="button"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hipstertron.com" data-text="He's heard of that show before you." data-size="large" data-count="none" data-hashtags="HipsterTron">Tweet</a>
          </p>
        </span>
    </form>
    <div class="main-launch-block">
      <h4 ng-hide="signedUp">Sign Up For Launch</h4>
      <p>Hipster Tron will launch soon. In the meantime, you can search Hipstertron's <a href="#/calendar">Calendar</a> for all upcoming shows in Denver.</p>
    </div>
  </section>

</div>

