/* line 6, ../sass/_shared.scss */
body {
  font-family: 'Overlock', sans-serif;
  background: #484848;
  color: white;
}

/* line 12, ../sass/_shared.scss */
.top-nav, footer {
  background: #484848;
}

/* line 16, ../sass/_shared.scss */
button {
  background: #fa6464;
  color: #fff;
  border: 0;
}

/* line 22, ../sass/_shared.scss */
a {
  color: #ffa6b6;
}

/* line 26, ../sass/_shared.scss */
a:hover {
  color: #ff738c;
}

/* line 30, ../sass/_shared.scss */
.main-block:not(:last-child) {
  border-bottom: 1px solid #484848;
}

/* line 34, ../sass/_shared.scss */
h1, h2 {
  color: #fa6464;
  font-family: 'Hammersmith One', sans-serif;
}

/* line 39, ../sass/_shared.scss */
h3, h4 {
  font-family: 'Hammersmith One', sans-serif;
  color: pink;
}

/* line 1, ../sass/_footer.scss */
footer {
  padding-top: 0.5%;
  bottom: 0;
  width: 100%;
  float: left;
}

/* line 8, ../sass/_footer.scss */
.footer-inspiration {
  width: 40%;
  padding: 1% 4%;
  margin: 0;
  font-size: 0.9em;
  opacity: 0.5;
  float: left;
  display: inline-block;
}

/* line 18, ../sass/_footer.scss */
.footer-inspiration h4, .footer-inspiration p {
  margin: 0;
  display: inline-block;
}

/* line 23, ../sass/_footer.scss */
.footer-privacy-policy {
  float: right;
  position: relative;
  right: 10%;
  margin-top: 2%;
  display: inline-block;
}

/* line 1, ../sass/_header.scss */
.top-nav {
  padding: 1%;
}

/* line 5, ../sass/_header.scss */
.top-nav a {
  text-decoration: none;
  padding: 0 1%;
}

/* line 10, ../sass/_header.scss */
.top-nav small {
  float: right;
  opacity: 0.7;
}

/* line 1, ../sass/_main-page.scss */
.main-block {
  background: #555;
}

/* line 5, ../sass/_main-page.scss */
.home-page header {
  width: 100%;
  text-align: center;
  padding: 1% 0 1% 0;
}

/* line 11, ../sass/_main-page.scss */
.main-header h1 {
  margin: 1% 0 0 0;
  font-size: 2.5em;
}

/* line 16, ../sass/_main-page.scss */
.main-header p {
  margin: 0 0 2% 0;
  font-size: 0.95em;
}

/* line 21, ../sass/_main-page.scss */
#main-tagline {
  color: pink;
}

/* line 25, ../sass/_main-page.scss */
#main-explanation {
  font-size: 1.2em;
}

/* line 29, ../sass/_main-page.scss */
.benefits-list {
  width: 90%;
  padding: 3% 3% 3% 7%;
  display: block;
  float: left;
}

/* line 36, ../sass/_main-page.scss */
.benefits-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 42, ../sass/_main-page.scss */
.benefits-list li {
  float: left;
  display: inline-block;
  width: 20%;
  margin: 0 2.5%;
}

/* line 49, ../sass/_main-page.scss */
.benefits-list h4, .benefits-list p {
  display: inline-block;
  width: 100%;
  margin: 1% 0;
}

/* line 55, ../sass/_main-page.scss */
.benefits-list h4 {
  font-size: 1.25em;
}

/* line 59, ../sass/_main-page.scss */
.main-signup-form {
  display: inline-block;
  width: 50%;
  margin: 1% 25%;
  padding: 2% 0;
}

/* line 66, ../sass/_main-page.scss */
.main-email {
  width: 70%;
  padding: 1%;
}

/* line 71, ../sass/_main-page.scss */
.main-submit {
  width: 18%;
  padding: 1.2%;
  margin-left: 2%;
}

/* line 77, ../sass/_main-page.scss */
.main-testimonial {
  list-style-type: none;
}

/* line 81, ../sass/_main-page.scss */
.main-testimonial li {
  width: 20%;
  margin-left: 9%;
  display: inline-block;
}

/* line 87, ../sass/_main-page.scss */
.signup-block {
  padding: 0 0 2% 0;
}

/* line 1, ../sass/_about.scss */
.about-page h1, .about-page h3 {
  margin-left: 2%;
}

/* line 5, ../sass/_about.scss */
.about-founder-figure {
  float: left;
  width: 38%;
  margin-left: 2%;
}

/* line 11, ../sass/_about.scss */
.about-founder-figure img {
  width: 100%;
}

/* line 15, ../sass/_about.scss */
.about-right-block {
  width: 34%;
  margin-left: -8%;
  float: left;
}

/* line 21, ../sass/_about.scss */
.about-right-block p {
  line-height: 1.6em;
  font-size: 1.05em;
}

/* line 5, ../sass/_calendar.scss */
.calendar-header h1 {
  width: 78%;
  display: inline-block;
  float: left;
  margin-left: 2%;
}

/* line 12, ../sass/_calendar.scss */
.calendar-search {
  float: left;
  width: 16%;
  margin: 1% 1% 0 0;
}

/* line 18, ../sass/_calendar.scss */
.calendar-header p {
  width: 98%;
  margin-left: 2%;
  display: block;
  float: left;
}

/* line 25, ../sass/_calendar.scss */
.calendar-main-block {
  width: 100%;
  display: block;
  float: left;
}

/* line 1, ../sass/_privacy-policy.scss */
.privacy-policy-page {
  display: block;
  padding: 1% 0 0 3%;
}

@media (min-width: 600px) and (max-width: 1040px) {
  /***Main Page***/
  /* line 4, ../sass/_tablet.scss */
  .benefits-list {
    padding: 3% 1%;
    width: 98%;
  }

  /* line 9, ../sass/_tablet.scss */
  .main-signup-form {
    width: 64%;
    margin: 1% 16%;
  }

  /* line 14, ../sass/_tablet.scss */
  .main-submit {
    padding: 1.8%;
    width: 20%;
  }

  /* line 19, ../sass/_tablet.scss */
  .main-testimonial li {
    width: 31%;
    margin-left: 1%;
  }

  /*****About Page*****/
  /* line 25, ../sass/_tablet.scss */
  .about-page h1, .about-page h3 {
    margin-left: 5%;
  }

  /* line 29, ../sass/_tablet.scss */
  .about-founder-figure {
    float: left;
    width: 48%;
    margin-left: 2%;
  }

  /* line 35, ../sass/_tablet.scss */
  .about-founder-figure img {
    width: 100%;
  }

  /* line 39, ../sass/_tablet.scss */
  .about-right-block {
    width: 55%;
    margin-left: -10%;
    float: left;
  }

  /* line 45, ../sass/_tablet.scss */
  .about-right-block p {
    line-height: 1.6em;
    font-size: 1.05em;
  }

  /*****Privacy Policy*****/
  /* line 51, ../sass/_tablet.scss */
  .privacy-policy-page {
    width: 96%;
    padding: 1% 2%;
    margin: 0;
  }
}
@media (max-width: 599px) {
  /* line 3, ../sass/_phones.scss */
  .top-nav {
    padding: 3% 1%;
  }

  /* line 7, ../sass/_phones.scss */
  .top-nav a {
    margin-left: 2%;
  }

  /* line 11, ../sass/_phones.scss */
  .top-nav small {
    display: none;
  }

  /* line 15, ../sass/_phones.scss */
  .home-page header {
    padding: 2% 0;
  }

  /* line 19, ../sass/_phones.scss */
  .benefits-list {
    padding: 3% 1%;
    width: 98%;
  }

  /* line 24, ../sass/_phones.scss */
  .benefits-list li {
    width: 98%;
    margin: 1% 1%;
  }

  /* line 29, ../sass/_phones.scss */
  .main-signup-form {
    width: 90%;
    margin: 1% 5%;
  }

  /* line 34, ../sass/_phones.scss */
  .main-submit {
    padding: 1.8%;
    width: 20%;
  }

  /* line 39, ../sass/_phones.scss */
  .main-testimonial {
    padding: 1% 0;
  }

  /* line 43, ../sass/_phones.scss */
  .main-testimonial li {
    width: 31.5%;
    margin-left: 1%;
  }

  /* line 48, ../sass/_phones.scss */
  .footer-inspiration {
    width: 70%;
    padding: 1%;
  }

  /*****About Page*****/
  /* line 55, ../sass/_phones.scss */
  .about-right-block {
    width: 90%;
    padding: 1% 5%;
    margin: 0;
  }

  /* line 61, ../sass/_phones.scss */
  .about-founder-figure {
    width: 98%;
  }

  /*****Privacy Policy*****/
  /* line 66, ../sass/_phones.scss */
  .privacy-policy-page {
    width: 96%;
    padding: 1% 2%;
    margin: 0;
  }
}
