/* line 6, ../sass/_shared.scss */
body {
  font-family: 'Overlock', sans-serif;
  background: #494949;
  color: white;
}

/* line 12, ../sass/_shared.scss */
.top-nav, footer {
  background: #3c3c3c;
}

/* line 16, ../sass/_shared.scss */
button {
  background: #fa6464;
  color: #fff;
  border: 0;
}

/* line 22, ../sass/_shared.scss */
a {
  color: #ff8da1;
  text-decoration: none;
}

/* line 27, ../sass/_shared.scss */
a:hover {
  color: #f94b4b;
}

/* line 31, ../sass/_shared.scss */
.main-block:not(:last-child) {
  border-bottom: 1px solid #3c3c3c;
}

/* line 35, ../sass/_shared.scss */
h1, h2 {
  color: #fa6464;
  font-family: 'Hammersmith One', sans-serif;
}

/* line 40, ../sass/_shared.scss */
h3, h4 {
  font-family: 'Hammersmith One', sans-serif;
  color: pink;
}

/* line 45, ../sass/_shared.scss */
.warning {
  color: #fa6464;
}

/* line 1, ../sass/_footer.scss */
footer {
  padding-top: 0.5%;
  bottom: 0;
  width: 100%;
  float: left;
}

/* line 8, ../sass/_footer.scss */
.footer-inspiration {
  width: 40%;
  padding: 1% 4%;
  margin: 0;
  font-size: 0.9em;
  opacity: 0.5;
  float: left;
  display: inline-block;
}

/* line 18, ../sass/_footer.scss */
.footer-inspiration h4, .footer-inspiration p {
  margin: 0;
  display: inline-block;
}

/* line 23, ../sass/_footer.scss */
.footer-privacy-policy {
  float: right;
  position: relative;
  right: 4.5%;
  margin-top: 2.5%;
  display: inline-block;
}

/* line 31, ../sass/_footer.scss */
.footer-contact {
  float: right;
  margin: 1% 0 0 5%;
}
/* line 34, ../sass/_footer.scss */
.footer-contact span {
  opacity: 0.8;
}

/* line 1, ../sass/_header.scss */
.top-nav {
  padding: 1% 1% 0.8% 1%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #3c3c3c;
}

/* line 10, ../sass/_header.scss */
.top-nav a {
  text-decoration: none;
  padding: 0 1%;
  margin-top: 3px;
}

/* line 16, ../sass/_header.scss */
.top-nav small {
  float: right;
  right: 8%;
  position: relative;
  margin-top: 3px;
}

/* line 23, ../sass/_header.scss */
#twitter-widget-0 {
  float: right;
  position: relative;
  right: 5%;
  opacity: 0.75;
}
/* line 28, ../sass/_header.scss */
#twitter-widget-0:hover {
  opacity: 1.0;
}

/* line 1, ../sass/_main-page.scss */
#home-page:after {
  content: "";
  display: block;
}

/* line 6, ../sass/_main-page.scss */
.main-block {
  background: #494949;
  float: left;
  width: 100%;
}

/* line 12, ../sass/_main-page.scss */
.main-header {
  width: 100%;
  text-align: center;
  padding: 5% 0 1% 0;
  /*	background-image: url("../../img/RoboHipster4.png");
  	background-repeat: no-repeat;
  	background-position: 50% 90%;
  	background-size: 5%; */
}

/* line 24, ../sass/_main-page.scss */
.main-header h1 {
  color: pink;
  margin: 1% 0 0 0;
  font-size: 2.25em;
}

/* line 30, ../sass/_main-page.scss */
.main-header p {
  margin: 0 0 2% 0;
}

/* line 34, ../sass/_main-page.scss */
#main-tagline {
  color: pink;
  font-weight: bold;
}

/* line 39, ../sass/_main-page.scss */
#main-explanation {
  font-size: 1.2em;
  margin-bottom: 3%;
}

/* line 44, ../sass/_main-page.scss */
.how-it-works {
  position: relative;
  padding-bottom: 2%;
}

/* line 49, ../sass/_main-page.scss */
.how-it-works ul {
  list-style-type: none;
}

/* line 53, ../sass/_main-page.scss */
.how-it-works h2 {
  text-align: center;
  width: 16%;
  margin: -0.6em 42% 0 42%;
  background-color: #494949;
}

/* line 60, ../sass/_main-page.scss */
.how-it-works h3 {
  font-size: 1.25em;
}

/* line 64, ../sass/_main-page.scss */
.how-it-works p {
  font-size: 1.1em;
}

/* line 68, ../sass/_main-page.scss */
.how-it-works span {
  margin-left: 5%;
}

/* line 72, ../sass/_main-page.scss */
.main-step {
  float: left;
  width: 29%;
  margin-left: 3.2%;
}

/* line 78, ../sass/_main-page.scss */
.main-step p {
  font-size: 1.15em;
}

/* line 82, ../sass/_main-page.scss */
.main-signup-form {
  display: inline-block;
  width: 50%;
  margin: 0 25%;
  padding: 1% 0 0 0;
}

/* line 89, ../sass/_main-page.scss */
.main-email {
  width: 70%;
  padding: 1%;
}

/* line 94, ../sass/_main-page.scss */
.main-submit {
  width: 18%;
  padding: 1.2%;
  margin-left: 2%;
}

/* .main-testimonial {
	list-style-type: none;
}

.main-testimonial li {
	width: 10%;
	margin-left: 12%;
	display: inline-block;
} */
/* line 110, ../sass/_main-page.scss */
.signup-block {
  padding: 0 0 1.2% 0;
  position: relative;
  /* 	background-image: url("../../img/RoboHipster.png");
  	background-repeat: no-repeat;
  	background-position: 85% 110%;
  	background-size: 15%; */
}

/* line 119, ../sass/_main-page.scss */
.main-frequency-selector label:first-child {
  margin-right: 3%;
}

/* line 123, ../sass/_main-page.scss */
.main-frequency-selector input {
  margin: 2% 4% 0 0.5%;
  top: 2px;
  position: relative;
}

/* line 129, ../sass/_main-page.scss */
.fb_iframe_widget {
  margin-right: 4%;
  top: -10px;
}

/* line 134, ../sass/_main-page.scss */
.main-launch-block {
  width: 50%;
  margin: 0 25%;
  /* 	width: 40%;
  	margin: 0 0 0 25%; */
}

/* line 141, ../sass/_main-page.scss */
.benefits-list {
  width: 90%;
  padding: 3% 3% 3% 7%;
  display: block;
  float: left;
}

/* line 148, ../sass/_main-page.scss */
.benefits-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 154, ../sass/_main-page.scss */
.benefits-list li {
  float: left;
  display: inline-block;
  width: 20%;
  margin: 0 2.5%;
}

/* line 161, ../sass/_main-page.scss */
.benefits-list h3, .benefits-list p {
  display: inline-block;
  width: 100%;
  margin: 1% 0;
}

/* line 167, ../sass/_main-page.scss */
.benefits-list h3 {
  margin-left: 5%;
  font-size: 1.25em;
}

/* #never-miss-header {
	color: $main-header;
	text-shadow: 1px 1px 1px darken($main-header, 35%);
} */
/* line 177, ../sass/_main-page.scss */
.main-image-container {
  width: 100%;
  display: block;
  float: left;
  height: 12em;
  padding: 3% 0;
}

/* line 185, ../sass/_main-page.scss */
.main-image-container img {
  display: inline-block;
  float: left;
  width: 42%;
}

/* line 191, ../sass/_main-page.scss */
#ht-free {
  width: 47%;
}

/* line 195, ../sass/_main-page.scss */
#ht-never-miss {
  width: 55%;
}

/* line 199, ../sass/_main-page.scss */
.right-side-image {
  padding-left: 6%;
}

/* line 203, ../sass/_main-page.scss */
#first-benefits-paragraph {
  text-shadow: 1px 1px 1px #494949;
}

/* line 5, ../sass/_calendar.scss */
.calendar-header h1 {
  width: 78%;
  display: inline-block;
  float: left;
  margin-left: 2%;
  padding-top: 4%;
}

/* line 13, ../sass/_calendar.scss */
.calendar-main-block {
  width: 100%;
  display: block;
  float: left;
}

/* line 19, ../sass/_calendar.scss */
.calendar-main-block p {
  display: inline-block;
  margin-left: 15%;
}

/* line 24, ../sass/_calendar.scss */
.calendar-search {
  float: right;
  width: 16%;
  margin: 1% 15% 0 0;
}

/* line 30, ../sass/_calendar.scss */
.calendar {
  width: 70%;
  margin: 1% 15% 5% 15%;
  border: 1px solid #888;
}

/* line 36, ../sass/_calendar.scss */
.calendar-header {
  background: #fa6464;
}

/* line 40, ../sass/_calendar.scss */
.calendar-header tr th {
  padding: 1%;
  font-size: 1.2em;
  width: 33%;
}

/* line 46, ../sass/_calendar.scss */
.calendar-row {
  color: pink;
  border-bottom: 1px solid #2f2f2f;
}

/* line 51, ../sass/_calendar.scss */
.calendar-row:nth-child(odd) {
  background: #2f2f2f;
}

/* line 55, ../sass/_calendar.scss */
.calendar-row td {
  padding: 0;
  margin: 0;
  border-right: 1px solid #888;
}

/* line 61, ../sass/_calendar.scss */
.calendar-row td a {
  width: 95%;
  height: 100%;
  display: inline-block;
  padding: 4%;
  color: pink;
}
/* line 67, ../sass/_calendar.scss */
.calendar-row td a:hover {
  color: pink;
}

/* line 1, ../sass/_about.scss */
.about-page h1 {
  padding-top: 4%;
}

/* line 5, ../sass/_about.scss */
.about-page h1, .about-page h3 {
  margin-left: 2%;
}

/* line 9, ../sass/_about.scss */
.about-founder-figure {
  float: left;
  width: 38%;
  margin-left: 2%;
}

/* line 15, ../sass/_about.scss */
.about-founder-figure img {
  width: 100%;
}

/* line 19, ../sass/_about.scss */
.about-right-block {
  width: 20%;
  margin-left: -8%;
  float: left;
}

/* line 25, ../sass/_about.scss */
.about-right-block p {
  line-height: 1.8em;
  font-size: 1.05em;
}

/* line 5, ../sass/_signup.scss */
.signup-page h1 {
  padding-top: 4%;
  margin-left: 5%;
}

/* line 1, ../sass/_contact.scss */
.contact-page h1 {
  padding-top: 4%;
  margin-left: 2%;
}

/* line 1, ../sass/_privacy-policy.scss */
.privacy-policy-page {
  display: block;
  padding: 1% 0 0 3%;
}

@media (min-width: 1041px) and (max-width: 1440px) {
  /* line 3, ../sass/_small-desktop.scss */
  #ht-never-miss {
    width: 80%;
  }

  /* line 7, ../sass/_small-desktop.scss */
  .main-image-container img {
    width: 60%;
    margin: 3% 0 0 2%;
  }

  /* line 12, ../sass/_small-desktop.scss */
  #ht-free {
    width: 65%;
  }

  /* line 16, ../sass/_small-desktop.scss */
  .main-signup-form, .main-launch-block {
    width: 60%;
    margin: 0 20%;
  }

  /* line 21, ../sass/_small-desktop.scss */
  .benefits-list p {
    margin: 3% 0 0 0;
  }
}
@media (min-width: 600px) and (max-width: 1040px) {
  /***Header***/
  /* line 4, ../sass/_tablet.scss */
  .top-nav small {
    opacity: 0.9;
    font-size: 75%;
    margin-top: 0.3%;
  }

  /***Main Page***/
  /* line 12, ../sass/_tablet.scss */
  #main-explanation {
    width: 98%;
    margin: 1%;
  }

  /* line 17, ../sass/_tablet.scss */
  .how-it-works h2 {
    width: 32%;
    margin: -0.6em 36% 0 36%;
  }

  /* line 22, ../sass/_tablet.scss */
  .main-step:first-child {
    margin-left: 0;
  }

  /* line 26, ../sass/_tablet.scss */
  .main-image-container img {
    width: 65%;
    margin-top: 10%;
  }

  /* line 31, ../sass/_tablet.scss */
  .main-signup-form, .main-launch-block {
    width: 80%;
    margin: 1% 10%;
  }

  /* line 36, ../sass/_tablet.scss */
  .main-submit {
    padding: 1.8%;
    width: 20%;
  }

  /* line 41, ../sass/_tablet.scss */
  .benefits-list {
    padding: 3% 1%;
    width: 98%;
  }

  /* line 46, ../sass/_tablet.scss */
  .benefits-list li {
    width: 22.5%;
    margin: 0 0 0 2.5%;
  }

  /* line 51, ../sass/_tablet.scss */
  #ht-never-miss {
    width: 70%;
  }

  /* line 55, ../sass/_tablet.scss */
  #ht-free {
    width: 75%;
    margin-top: 5%;
  }

  /* line 60, ../sass/_tablet.scss */
  .footer-inspiration {
    width: 65%;
  }

  /*****About Page*****/
  /* line 65, ../sass/_tablet.scss */
  .about-page h1, .about-page h3 {
    margin-left: 5%;
  }

  /* line 69, ../sass/_tablet.scss */
  .about-founder-figure {
    float: left;
    width: 48%;
    margin-left: 2%;
  }

  /* line 75, ../sass/_tablet.scss */
  .about-founder-figure img {
    width: 100%;
  }

  /* line 79, ../sass/_tablet.scss */
  .about-right-block {
    width: 55%;
    margin-left: -10%;
    float: left;
  }

  /* line 85, ../sass/_tablet.scss */
  .about-right-block p {
    line-height: 1.6em;
    font-size: 1.05em;
  }

  /*****Calendar*****/
  /* line 91, ../sass/_tablet.scss */
  .calendar {
    width: 90%;
    margin: 1% 5%;
  }

  /* line 96, ../sass/_tablet.scss */
  .calendar-main-block p, .calendar-header h1 {
    margin-left: 5%;
  }

  /* line 100, ../sass/_tablet.scss */
  .calendar-search {
    margin: 1% 5% 0 0;
    width: 30%;
    padding: 1%;
  }

  /*****Privacy Policy*****/
  /* line 107, ../sass/_tablet.scss */
  .privacy-policy-page {
    width: 96%;
    padding: 1% 2%;
    margin: 0;
  }
}
@media (min-width: 600px) and (max-width: 820px) {
  /***Main Page***/
  /* line 118, ../sass/_tablet.scss */
  .top-nav small {
    display: none;
  }

  /* line 122, ../sass/_tablet.scss */
  .main-header h1 {
    padding-top: 5%;
  }

  /* line 126, ../sass/_tablet.scss */
  .how-it-works h2 {
    width: 30%;
    margin: -0.6em 35% 0 35%;
  }

  /* line 131, ../sass/_tablet.scss */
  #main-explanation {
    width: 94%;
    margin: 0 2% 4% 2%;
  }

  /* line 136, ../sass/_tablet.scss */
  .benefits-list {
    padding: 3% 0;
    width: 100%;
  }

  /* line 141, ../sass/_tablet.scss */
  .benefits-list h3 {
    margin-left: 0%;
    font-size: 1.15em;
  }

  /* line 146, ../sass/_tablet.scss */
  .main-step {
    width: 31%;
    margin-left: 3%;
  }

  /* line 151, ../sass/_tablet.scss */
  .main-step:first-child {
    margin-left: -2%;
  }

  /* line 155, ../sass/_tablet.scss */
  .main-signup-form, .main-launch-block {
    width: 86%;
    margin: 1% 7%;
  }

  /* line 160, ../sass/_tablet.scss */
  #frequency-explain {
    display: block;
  }

  /***Calendar Page***/
  /* line 165, ../sass/_tablet.scss */
  .calendar-search {
    width: 40%;
    margin: 1% 5% 2% 0;
  }
}
@media (max-width: 599px) {
  /* line 3, ../sass/_phones.scss */
  .top-nav {
    padding: 3% 1%;
  }

  /* line 7, ../sass/_phones.scss */
  .top-nav a {
    margin-left: 2%;
  }

  /* line 11, ../sass/_phones.scss */
  .top-nav small, #twitter-widget-0, #nav-contact {
    display: none;
  }

  /* line 15, ../sass/_phones.scss */
  .home-page header {
    padding: 15% 0 5% 0;
  }

  /* line 19, ../sass/_phones.scss */
  .main-header h1 {
    font-size: 1.5em;
    width: 98%;
    margin: 0 1%;
  }

  /* line 25, ../sass/_phones.scss */
  .how-it-works h2 {
    width: 50%;
    margin: -0.6em 25% 0 25%;
  }

  /* line 30, ../sass/_phones.scss */
  .main-step {
    width: 92%;
    margin: 2% 5% 2% 0;
  }

  /* line 35, ../sass/_phones.scss */
  .main-signup-form {
    width: 96%;
    margin: 1% 2%;
    font-weight: bold;
  }

  /* line 41, ../sass/_phones.scss */
  .main-submit {
    padding: 1.8%;
    width: 20%;
  }

  /* line 46, ../sass/_phones.scss */
  #frequency-explain {
    display: block;
    margin-top: 3%;
  }

  /* line 51, ../sass/_phones.scss */
  .main-launch-block {
    width: 90%;
    margin: 1% 5%;
  }

  /* line 56, ../sass/_phones.scss */
  .benefits-list {
    padding: 3% 1%;
    width: 98%;
  }

  /* line 61, ../sass/_phones.scss */
  .benefits-list li {
    width: 98%;
    margin: 1% 1%;
  }

  /* line 67, ../sass/_phones.scss */
  .benefits-list li:not(:last-child) {
    border-bottom: 1px solid #3c3c3c;
  }

  /* line 71, ../sass/_phones.scss */
  .benefits-list h4 {
    width: 95%;
    text-align: center;
    font-size: 1.6em;
  }

  /* line 77, ../sass/_phones.scss */
  .main-image-container {
    padding: 0;
  }

  /* #ht-never-miss {
  	width: 90%;
  	margin-left: 2em;
  	margin-top: -7em;
  } */
  /* line 87, ../sass/_phones.scss */
  #ht-free {
    width: 55%;
    margin-left: 22%;
  }

  /* line 92, ../sass/_phones.scss */
  .main-image-container img {
    margin-left: 25%;
  }

  /* .main-testimonial {
  	padding: 1% 0;
  }
  
  .main-testimonial li {
  	width: 31.5%;
  	margin-left: 1%;
  } */
  /* line 105, ../sass/_phones.scss */
  .right-side-image {
    padding-left: 0%;
  }

  /* line 109, ../sass/_phones.scss */
  .footer-inspiration {
    width: 70%;
    padding: 1%;
  }

  /*****About Page*****/
  /* line 116, ../sass/_phones.scss */
  .about-page h1 {
    padding-top: 12%;
  }

  /* line 120, ../sass/_phones.scss */
  .about-right-block {
    width: 90%;
    padding: 1% 5%;
    margin: 0;
  }

  /* line 126, ../sass/_phones.scss */
  .about-founder-figure {
    width: 98%;
  }

  /*****Calendar*****/
  /* line 131, ../sass/_phones.scss */
  .calendar {
    width: 100%;
    margin: 4% 0;
  }

  /* line 136, ../sass/_phones.scss */
  .calendar-header h1 {
    margin: 12% 0 0% 2%;
  }

  /* line 140, ../sass/_phones.scss */
  .calendar-main-block p {
    width: 98%;
    margin: 1%;
    padding: 0;
  }

  /* line 146, ../sass/_phones.scss */
  .calendar-search {
    margin: 3% 10%;
    width: 80%;
    padding: 1%;
  }

  /*****Sign Up*****/
  /* line 153, ../sass/_phones.scss */
  .signup-page h1 {
    padding-top: 12%;
    margin-bottom: 0;
  }

  /*****Privacy Policy*****/
  /* line 159, ../sass/_phones.scss */
  .privacy-policy-page {
    width: 96%;
    padding: 1% 2%;
    margin: 0;
  }
}
