.about-page h1 {
	padding-top: 4%;
}

.about-page h1, .about-page h3 {
	margin-left: 2%;
}

.about-founder-figure {
	float: left;
	width: 38%;
	margin-left: 2%;
}

.about-founder-figure img {
	width: 100%;
}

.about-right-block {
	width: 20%;
	margin-left: -8%;
	float: left;
}

.about-right-block p {
	line-height: 1.8em;
	font-size: 1.05em;
}