.calendar-page {
	
}

.calendar-header h1 {
	width: 78%;
	display: inline-block;
	float: left;
	margin-left: 2%;
}

.calendar-search {
	float: left; 
	width: 16%; 
	margin: 1% 1% 0 0;
}

.calendar-header p {
	width: 98%;
	margin-left: 2%;
	display: block;
	float: left;
}

.calendar-main-block {
	width: 100%;
	display: block;
	float: left;
}
