.top-nav {
	padding: 1% 1% 0.8% 1%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background: darken($background, 5%)
}

.top-nav a {
	text-decoration: none;
	padding: 0 1%;
	margin-top: 3px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;	
	border-top: 0.4em solid $minor-header;
	position: relative;
	top: 0.75em;
}

.top-nav a:hover {
	color: $main-header;
	.arrow-down {
		border-top: 0.4em solid $main-header;
	}
}

.top-nav small {
	float: right;
	right: 8%;
	position: relative;
	margin-top: 3px;
}

#twitter-widget-0 {
	float: right;
	position: relative;
	right: 5%;
	opacity: 0.75;
	&:hover {
		opacity: 1.0;
	}
}