.top-nav {
	padding: 1%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background: darken($background, 5%);
	border-bottom: 1px solid $background;
		.twitter-link {
		background: url("/img/twitter_circle_gray.png") no-repeat;
	}
	.facebook-link {
		background: url("/img/facebook_circle_gray.png") no-repeat;
	}
	.social-link {
		//padding: 1% 1.5%;
		padding: 1.5em;
		border-radius: 25px;
		background-size: 95%;
		background-position: 50%;
		opacity: 0.8;
		//float: right;
		&:hover, &:active {
			opacity: 1.0;
		}
	}

}

.top-nav a {
	text-decoration: none;
	padding: 0 1%;
	margin-top: 3px;
	outline: 0;
}

#home-icon {
	margin-top: -0.3em;
}

.top-nav a:hover {
	color: $main-header;
}

.top-nav:hover, .top-nav:active {
	outline: 0;
}

.top-nav small {
	float: right;
	right: 6%;
	position: relative;
	margin-top: 3px;
}