.top-nav {
	padding: 1% 1% 0.8% 1%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background: darken($background, 5%)
}

.top-nav a {
	text-decoration: none;
	padding: 0 1%;
	margin-top: 3px;
}

.top-nav small {
	float: right;
	right: 8%;
	position: relative;
	margin-top: 3px;
}

#twitter-widget-0 {
	float: right;
	position: relative;
	right: 5%;
	opacity: 0.75;
	&:hover {
		opacity: 1.0;
	}
}