#home-page:after {
	content: "";
	display: block;
}

.main-block {
	background: $background;
	float: left;
	width: 100%;
}

.home-header {
	width: 100%;
	text-align: center;
	padding: 5% 0 1% 0;
	
	h1 {
		color: $minor-header;
		margin: 1% 0 0 0;
		font-size: 2.0em;
	}
	p {
		margin: 0 0 2% 0;
	}
}

#main-tagline {
	color: pink;
	font-weight: bold;
}

#main-explanation {
	font-size: 1.25em;
	margin-bottom: 3%;
}

.how-it-works {
	position: relative;
	padding-bottom: 2%;
	
	ul {
		list-style-type: none; 
	}
	h2 {
		text-align: center;
		width: 16%;
		margin: -0.6em 42% 0 42%;
		background-color: $background;
	}
	h3 {
		font-size: 1.25em;
	}
	p {
		font-size: 1.1em;
	}
	span {
		margin-left: 5%;
	}
}

.main-step {
	float: left;
	width: 29%;
	margin-left: 3.2%;
}

.main-signup-form {
	display: inline-block;
	width: 50%;
	margin: 0 25%;
	padding: 1% 0 0 0;
}

.main-email {
	width: 70%;
	padding: 1%;
}

.main-submit {
	width: 18%;
	padding: 1.2%;
	margin-left: 2%;
}

.signup-block {
	padding: 0 0 1.2% 0;
	position: relative;
}

.main-frequency-selector label:first-child {
	margin-right: 3%;
}

.main-frequency-selector input {
	margin: 2% 4% 0 0.5%;
	top: 2px;
	position: relative;
}

.social-button {
	padding: 1.4em 0.8em;
	margin: 1% 0 0% 5%;
	border-radius: 5px;
	display: inline-block;
	background-color: darken($minor-header, 10%);
	&:hover {
		background-color: $main-header;
	}
}

.ht-twitter {
	background-image: url("../../img/twitter.png");	
}

.ht-facebook {
	background-image: url("../../img/facebook.png");	
}

.main-launch-block {
	width: 50%;
	margin: 0 25%;
	
	h3 {
		color: $main-header;
	}
}

.benefits-list {
	width: 90%;
	padding: 3% 3% 3% 7%;
	display: block;
	float: left;
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		display: inline-block;
		width: 20%;
		margin: 0 2.5%;
	}
	h3, p {
		display: inline-block;
		width: 100%;
		margin: 1% 0;		
	}
	h3 {
		margin-left: 5%;
		font-size: 1.25em;
	}
}

.main-image-container {
	width: 100%;
	display: block;
	float: left;
	height: 12em;
	padding: 3% 0;
}

.main-image-container img {
	display: inline-block;
	float: left;
	width: 42%;
}

#ht-free {
	width: 47%;
}

#ht-never-miss {
	width: 55%;
}

.right-side-image {
	padding-left: 6%;
}

#first-benefits-paragraph {
	text-shadow: 1px 1px 1px $background;
}