@media (max-width: 599px) {

.top-nav {
	padding: 3% 1%;
}

.top-nav a {
	margin-left: 2%;
}

.top-nav small {
	display: none; 
}

.home-page header {
	padding: 2% 0;
}

.benefits-list {
	padding: 3% 1%;
	width: 98%;
}

.benefits-list li {
	width: 98%;
	margin: 1% 1%;
}

.main-signup-form {
	width: 90%;
	margin: 1% 5%;
}

.main-submit {
	padding: 1.8%;
	width: 20%;
}

.main-testimonial {
	padding: 1% 0;
}

.main-testimonial li {
	width: 31.5%;
	margin-left: 1%;
}

.footer-inspiration {
	width: 70%;
	padding: 1%;
}

/*****About Page*****/

.about-right-block {
	width: 90%;
	padding: 1% 5%;
	margin: 0;
}

.about-founder-figure {
	width: 98%;
}

/*****Privacy Policy*****/
.privacy-policy-page {
	width: 96%;
	padding: 1% 2%;
	margin: 0;
}

}