@media (max-width: 599px) {

.top-nav {
	padding: 3% 1%;
}

.top-nav a {
	margin-left: 2%;
}

.top-nav small, #twitter-widget-0, #nav-contact {
	display: none; 
}

.home-page header {
	padding: 12% 0 5% 0;
}

.main-header h1 {
	font-size: 1.5em;
}

.how-it-works h2 {
	width: 50%;
	margin: -0.6em 25% 0 25%;
}

.main-step {
	width: 92%;
	margin: 2% 5% 2% 0;
}

.main-signup-form {
	width: 96%;
	margin: 1% 2%;
	font-weight: bold;
}

.main-submit {
	padding: 1.8%;
	width: 20%;
}

#frequency-explain {
	display: block;
	margin-top: 3%;
}

.main-launch-block {
	width: 90%;
	margin: 1% 5%;	
}

.benefits-list {
	padding: 3% 1%;
	width: 98%;
}

.benefits-list li {
	width: 98%;
	margin: 1% 1%;
	
}

.benefits-list li:not(:last-child) {
	border-bottom: 1px solid darken($background, 5%);
}

.benefits-list h4 {
	width: 95%;
	text-align: center;
	font-size: 1.6em;
}

.main-image-container {
	padding: 0;
}

/* #ht-never-miss {
	width: 90%;
	margin-left: 2em;
	margin-top: -7em;
} */

#ht-free {
	width: 55%;
	margin-left: 22%;
}

.main-image-container img {
	margin-left: 25%;
}

/* .main-testimonial {
	padding: 1% 0;
}

.main-testimonial li {
	width: 31.5%;
	margin-left: 1%;
} */

.right-side-image {
	padding-left: 0%;
}

.footer-inspiration {
	width: 70%;
	padding: 1%;
}

/*****About Page*****/

.about-page h1 {
	padding-top: 12%;
}

.about-right-block {
	width: 90%;
	padding: 1% 5%;
	margin: 0;
}

.about-founder-figure {
	width: 98%;
}

/*****Calendar*****/
.calendar {
	width: 100%;
	margin: 4% 0;
}

.calendar-header h1 {
	margin: 12% 0 0% 2%;
}

.calendar-main-block p {
	display: none;
}

.calendar-search {
	margin: 3% 10%;
	width: 80%;
	padding: 1%;
}

/*****Sign Up*****/
.signup-page h1 {
	padding-top: 12%;
	margin-bottom: 0;
}

/*****Privacy Policy*****/
.privacy-policy-page {
	width: 96%;
	padding: 1% 2%;
	margin: 0;
}

}