$text: #fff; //#fff;
$main-header: #FA6464;
$minor-header: pink; //#FFC2C2;
$background: #494949; //#919191; //#3F3630; //#443B35; //#D1B9B9;

body {
	font-family: "Helvetica", sans-serif;
	background: darken($background, 5%);
	color: $text;
}

.main-header {
	color: $main-header;
}

.top-nav, footer {
	background: darken($background, 5%)
}

button {
	background: $main-header;
	color: #fff;
	border: 0;
}

a {
	color: darken($minor-header, 10%);
	text-decoration: none;
}

a:hover {
	color: darken($main-header, 5%);
}

.main-block:not(:last-child) {
	border-bottom: 1px solid darken($background, 5%);
}

h1, h2 {
	color: $main-header;
	font-family: 'Hammersmith One', sans-serif;
}

h3, h4 {
	font-family: 'Hammersmith One', sans-serif;
	color: $minor-header;
}

.about-page, .signup-page, .info-page {
	min-height: 50em;
	width: 100%;
	float: left;
	background: $background;
}

.warning {
	color: $main-header;
}
