@media (min-width: 1041px) and (max-width: 1440px) {

	#ht-never-miss {
		width: 80%;
	}

	.main-image-container img {
		width: 60%;
		margin: 3% 0 0 2%;
	}

	#ht-free {
		width: 65%;
	}

	.main-signup-form, .main-launch-block {
		width: 60%;
		margin: 0 20%;
	}

	.benefits-list p {
		margin: 3% 0 0 0;
	}

}