@media (min-width: 1041px) and (max-width: 1440px) {

#ht-never-miss {
	width: 120%;
	margin: -5em 0 0 -2em;
}

.main-image-container img {
	width: 60%;
	margin: 3% 0 0 2%;
}

#ht-free {
	width: 65%;
}

.benefits-list p {
	margin: 3% 0 0 0;
}

}