@media (min-width: 600px) and (max-width: 1040px) {

/***Header***/
.top-nav small {
	opacity: 0.9;
	font-size: 75%;
	margin-top: 0.3%;
}

/***Main Page***/
#main-explanation {
	width: 98%;
	margin: 1%;
}

.how-it-works h2 {
		width: 32%;
		margin: -0.6em 36% 0 36%;
}

.main-step:first-child {
	margin-left: 0;
}

.main-image-container img {
	width: 65%;
	margin-top: 10%;
}

.main-signup-form, .main-launch-block {
	width: 80%;
	margin: 1% 10%;
}

.main-submit {
	padding: 1.8%;
	width: 20%;
}

.benefits-list {
	padding: 3% 1%;
	width: 98%;
}

.benefits-list li {
	width: 22.5%;
	margin: 0 0 0 2.5%;
}

#ht-never-miss {
	width: 70%;
}

#ht-free {
	width: 75%;
	margin-top: 5%;
}

.footer-inspiration {
	width: 65%;
}

/*****Info Page*****/

.info-internal-links {
	left: -2em;
}

.about-right-block {
	margin-top: 1em;
}

.info-block {
	width: 80%;
}

.about-founder-figure img {
	width: 100%;
}

.info-button {
	width: 30%;
	padding: 2%;
	margin-top: 1%;
}

/*****Calendar*****/
.calendar {
	width: 90%;
	margin: 1% 5%;
}

.calendar-main-block p, .calendar-header h1 {
	margin-left: 5%;
}

.calendar-search {
	margin: 1% 5% 1% 0;
	width: 30%;
	padding: 1%;
}

/*****Privacy Policy*****/
.privacy-policy-page {
	width: 96%;
	padding: 1% 2%;
	margin: 0;
}

.about-page, .signup-page {
	min-height: 40em;
}

}

@media (min-width: 600px) and (max-width: 820px) {

	/***Main Page***/
	.top-nav small {
		display: none;
	}

	.main-header h1 {
		padding-top: 5%;
	}

	.how-it-works h2 {
		width: 30%;
		margin: -0.6em 35% 0 35%;
	}

	#main-explanation {
		width: 94%;
		margin: 0 2% 4% 2%;
	}

	.benefits-list {
		padding: 3% 0;
		width: 100%;
	}

	.benefits-list h3 {
		margin-left: 0%;
		font-size: 1.15em;
	}

	.main-step {
		width: 31%;
		margin-left: 3%;
	}

	.main-step:first-child {
		margin-left: -2%;
	}

	.main-signup-form, .main-launch-block {
		width: 86%;
		margin: 1% 7%;
	}

	#frequency-explain {
		display: block;
	}

	/***Calendar Page***/
	.calendar-search {
		width: 40%;
		margin: 1% 5% 2% 0;
	}

	.info-internal-links {
		left: 0;
		width: 100%;
		padding: 0;
		margin: 0;
	}


	.info-page {
		width: 100%;
		padding: 0;
	}

	.info-internal-links {
		width: 100%;
		left: 0;
		margin: 0;
		padding: 1% 0;
		h3 {
			padding: 2% 0 2% 5%;
			width: 100%;
		}
		a {
			padding: 2% 0 2% 5%;
			width: 100%;
			margin: 0;
			border-top: 1px solid $background;
		}
	}

	.info-container {
		width: 100%;
		margin: 0;
	}

	.info-block, .info-block.info-about-section {
		width: 96%;
		padding: 0 3%;
		h1 {
			margin-top: 0.5em;
		}
	}

	.about-founder-figure  {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.info-button {
		width: 60%;
		margin: 0.5% 0 8% 0;
		padding: 4% 0;
	}

	.about-right-block {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.reserve-list {
		margin: 0;
		padding: 0;
	}

	.venue-header, .venue-block {
		display: none;
	}

	.calendar {
		width: 98%;
		margin: 1%;
	}

	#widget {
		display: none;
	}

	.top-nav {
		width: 96%;
		padding: 1.5% 2%;
		a {
			margin-left: 2%;
		}
	}

	.calendar-header h1 {
		padding-top: 8%;
	}

	.home-header h1 {
		margin: 6% 0 0 0;
	}

}